#contentpreview {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-right: 30px;
}

#preview {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    overflow: hidden;
}

#preview > * {
    margin: 15px;
}

#confirmationbutton {
    margin: 15px;
    border: var(--hgray) 1px solid;
    width: 100%;
    height: 20%;
}

.hidden {
    display: none;
}

.dynamic-preview-obj {
    border: 3px solid var(--hgray);
}