* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    overflow: hidden;
}

.carousel {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#backgroundcontainer {
    position: absolute;
    inset: 0;
    background-position: center;
    background-size: cover;
    

    transition: background-size 0.5s ease, filter 0.5s ease;
    filter: brightness(0.45); 
    z-index: -1;
}

#backgroundcontainer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
}

.slides {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    overflow: visible;
    flex: 0 0 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dot {
    height: 100px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border: white 5px solid;
}

.dot.active {
    background-color: white;
}